
/*
	Wynton Specific Parameters
*/
params {

	data_dir = "${HOME}/bin/nextflow_pipelines/data/pf_meta/"

	reads = "samples/*_R{1,2}.fastq.gz"

	reference = data_dir.concat("genome/Pfalciparum.genome.fasta")

	known_sites = data_dir.concat("vcf/pf3k_snps.vcf.gz")

	gencross_3d7_hb3 = data_dir.concat("vcf/3d7_hb3.combined.final.vcf.gz")

	gencross_7g8_gb4 = data_dir.concat("vcf/7g8_gb4.combined.final.vcf.gz")

	gencross_hb3_dd2 = data_dir.concat("vcf/hb3_dd2.combined.final.vcf.gz")

	interval_list = data_dir.concat("intervals/contigs.interval_list")

	regions = data_dir.concat("intervals/contigs.regions")

	outdir = "results"

	threads = 8

}

/*
	Wynton Specific Process Config
*/

process {

	executor = "sge"

	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	errorStrategy = "retry"

	module = "CBI:bwa:samtools:bcftools:gatk"

}

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}

// number of jobs

executor {

	queueSize = 1000

}
