
/*
	Wynton Specific Parameters
*/
params {
	
	data_dir = "${HOME}/bin/nextflow_pipelines/data/pf_meta/"

	reads = "samples/*_R{1,2}.fastq.gz"

	reference = data_dir.concat("genome/Pfalciparum.genome.fasta")

	known_sites = data_dir.concat("vcf/pf3k_snps.vcf.gz")

	interval_list = data_dir.concat("intervals/core.interval_list")

	regions = data_dir.concat("intervals/core.regions")

	outdir = "results"

	threads = 8
	
}

/*
	Wynton Specific Process Config
*/

process {

	executor = "sge"
	
	scratch = true

	stageInMode = "copy"

	stageOutMode = "move"

	module = "CBI:bwa:samtools:bcftools:gatk"

}
