
params {
	
	data_dir = "${HOME}/projects/nextflow_pipelines/data/pf_meta/"

	reads = "samples/*_R{1,2}.fastq.gz"

	reference = data_dir.concat("genome/Pfalciparum.genome.fasta")

	known_sites = data_dir.concat("vcf/pf3k_snps.vcf.gz")

	interval_list = data_dir.concat("intervals/core.interval_list")

	regions = data_dir.concat("intervals/core.regions")

	outdir = "results"

	threads = 2

}

// keep trace
trace {

	enabled = true

	file = "${params.outdir}/trace.txt"

}

// keep report
report {

	enabled = true

	file = "${params.outdir}/report.html"

}